/********** Template CSS **********/
:root {
    --primary: #86B817;
    --secondary: #FE8800;
    --light: #F5F5F5;
    --dark: #14141F;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    color: #FFFFFF !important;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary) !important;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark) !important;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: calc(100% - 2px);
        left: 1px;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }
}


/*** Hero Header ***/
.hero-header {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(../img/bg-hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, .5);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}

/* video */

section.video {
    background-image: url(../images/video-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #172238;
    padding: 120px 0px;
}

section.video .left-content {
  color: #fff;
}

section.video .left-content span {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.5px;
}

section.video .left-content h4 {
    margin-top: 20px;
    font-size: 30px;
    color: #fff;
    font-weight: 800;
    letter-spacing: 0.5px;
    line-height: 40px;
    margin-bottom: 20px;
}
section.video .left-content h4 em {
    font-style: normal;
    color: #f5a425;
}

section.video .left-content .main-button {
  margin-top: 30px;
}

.video-item {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0px auto 0;
}

@media screen and (max-width: 767px) {

  section.video .left-content {
    margin-bottom: 45px;
  }

  section.video .first-item .first-content h4,
  section.video .second-item .second-content h4 {
    text-align: center;
  }

}

.video-item figure {
  position: relative;
  width: 100%;
  font-size: 0;
}
.video-item figure img {
  width: 100%;
}
.video-item figure a:before {
  content: '';
  position: absolute;
  bottom: 10px;
  right: 15px;
  width: 60px;
  height: 60px;
  margin-top: -32.5px;
  margin-left: -32.5px;
  border-radius: 50%;
  background-color: #f5a425;
  z-index: 10;
}
.video-item figure a:after {
  content: '';
  position: absolute;
  bottom: 27.5px;
  right: 20px;
  margin-top: -12.5px;
  margin-left: -7px;
  border: solid 13px transparent;
  border-left: solid 20px;
  border-left-color: #fff;
  z-index: 10;
}
.video-item figure a:hover:before {
  background-color: #f5a425;
}

.video-item .video-caption {
    position: absolute;
    z-index: 10;
    background-color: rgba(250,250,250,0.75);
    height: 80px;
    width: 100%;
    padding: 27px 30px;
    bottom: 0;
}

.video-item .video-caption h4 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

/*** dino ***/
h1, h2 {
  text-align: center;
  font-family: Sans-Serif;
}
#board{
    width: 600px;
    height: 300px;
    background:url('img/bg.jpg');
    background-size:100% 100%;
    margin: 20px auto;
    }
#area {
   width: 600px;
   height: 300px;
   position: absolute;
   overflow: hidden;
 }   

@keyframes lari{
  0%{
    background: url('img/run1.png');
    background-size: 100px 100px;
  }
  20%{
    background: url('img/run2.png');
    background-size: 100px 100px;
  }
  50%{
    background: url('img/run7.png');
    background-size: 100px 100px;
  }
  75%{
    background: url('img/run8.png');
    background-size: 100px 100px;
  }
}
#dino {
  width: 100px;
  height: 100px;
  background: url('img/run1.png');
  background-size: 100% 100%;
  position: absolute;
  margin-top: 170px;
  margin-left: 50px;
  animation: lari 0.3s infinite; 
}
#box{
  width: 50px;
  height: 50px;
  margin-top: 260px;
  background: url('img/red-box.png');
  background-size: 100% 100%;
  margin-left:600px;
  
}

/*** Service ***/
.service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover {
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}

/* Coming Soon */
/* Coming Soon */



section.coming-soon {

    background-image: url(../images/coming-soon-bg.jpg);

    background-repeat: no-repeat;

    background-size: cover;

    background-color: #172238;

    padding: 120px 0px;

}



section.coming-soon .continer .counter div {

  display: inline-block;

}

section.coming-soon .continer h4 {

    margin-top: 100px;

    font-size: 30px;

    color: #fff;

    font-weight: 800;

    letter-spacing: 0.5px;

    line-height: 40px;

    margin-bottom: 50px;

}

section.coming-soon .continer h4 em {

    font-style: normal;

    color: #f5a425;

}



@media screen and (max-width: 767px) {



  section.coming-soon .continer h4 {

    text-align: center;

  }



}



section.coming-soon .continer .counter .days,

section.coming-soon .continer .counter .hours,

section.coming-soon .continer .counter .minutes,

section.coming-soon .continer .counter .seconds {

  width: 22%;

  height: 140px;

  float: left;

  text-align: center;

  font-size: 48px;

  font-weight: 800;

  letter-spacing: 1px;

  color: #fff;

  background-color: rgba(250,250,250,0.1);

}

@media screen and (max-width: 992px) {



  section.coming-soon .continer .counter .days,

  section.coming-soon .continer .counter .hours,

  section.coming-soon .continer .counter .minutes,

  section.coming-soon .continer .counter .seconds {

    font-size: 26px;

  }



  section.coming-soon .continer .counter .days .value,

  section.coming-soon .continer .counter .hours .value,

  section.coming-soon .continer .counter .minutes .value,

  section.coming-soon .continer .counter .seconds .value {

      margin-top: 40px!important;

  }



  section.coming-soon .continer .counter span {

      font-size: 14px!important;

  }



}

section.coming-soon .continer .counter .days,

section.coming-soon .continer .counter .hours,

section.coming-soon .continer .counter .minutes {

    margin-right: 4%;

}

section.coming-soon .continer .counter .days .value,

section.coming-soon .continer .counter .hours .value,

section.coming-soon .continer .counter .minutes .value,

section.coming-soon .continer .counter .seconds .value {

    margin-top: 15px;

    display: block;

    width: 100%;

}



section.coming-soon .continer .counter span {

    font-size: 18px;

    text-transform: uppercase;

    color: #f5a425;

    font-weight: 500;

    letter-spacing: 1px;

    margin-top: 0px;

    display: block;

}



section.coming-soon .right-content {

    margin-left: 30px;

}



@media screen and (max-width: 767px) {



  section.coming-soon .right-content {

      margin-top: 60px;

      margin-left: 0px;

  }



}



section.coming-soon .top-content {

    margin-bottom: -8px;

}



section.coming-soon .top-content h6 {

    font-size: 14px;

    color: #fff;

    background-color: rgba(250,250,250,0.2);

    padding: 40px;

    text-align: center;

    line-height: 24px;

}



section.coming-soon .top-content h6 em {

    font-style: normal;

    font-weight: 600;

}



section.coming-soon form {

    background-color: rgba(250,250,250,0.1);

    padding: 60px 40px;

    width: 100%;

    text-align: center;

}



section.coming-soon form input {

    width: 100%;

    height: 40px;

    background-color: rgba(250,250,250,0.1);

    border-radius: 0px;

    border: none;

    outline: none;

    color: #fff;

    font-size: 13px;

    margin-bottom: 20px;

    letter-spacing: 0.5px;

}



section.coming-soon form input:focus {

    outline: none;

    border: none;

    box-shadow: none;

    color: #fff;

    background-color: rgba(250,250,250,0.1);

}



section.coming-soon form::placeholder { color: #fff }

section.coming-soon form input::placeholder { color: #fff; }

section.coming-soon form input::placeholder { color: #fff; }



section.coming-soon form button {

    margin-top: 10px;

    background-color: #f5a425;

    color: #fff;

    font-size: 13px;

    text-transform: uppercase;

    letter-spacing: 0.5px;

    font-weight: 700;

    padding: 12px 20px;

    display: inline-block;

    outline: none;

    box-shadow: none;

    border: none;

}





/*** Booking ***/
.booking {
    background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7)), url(../img/wisuda4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

  


/*** Team ***/
.team-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}

.team-item .btn {
    background: #FFFFFF;
    color: var(--primary);
    border-radius: 20px;
    border-bottom: 1px solid var(--primary);
}

.team-item .btn:hover {
    background: var(--primary);
    color: #FFFFFF;
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
    border-color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}

/* Video */

section.video {
    background-image: url(../images/video-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #172238;
    padding: 120px 0px;
}

section.video .left-content {
  color: #fff;
}

section.video .left-content span {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.5px;
}

section.video .left-content h4 {
    margin-top: 20px;
    font-size: 30px;
    color: #fff;
    font-weight: 800;
    letter-spacing: 0.5px;
    line-height: 40px;
    margin-bottom: 20px;
}
section.video .left-content h4 em {
    font-style: normal;
    color: #f5a425;
}

section.video .left-content .main-button {
  margin-top: 30px;
}

.video-item {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0px auto 0;
}

@media screen and (max-width: 767px) {

  section.video .left-content {
    margin-bottom: 45px;
  }

  section.video .first-item .first-content h4,
  section.video .second-item .second-content h4 {
    text-align: center;
  }

}

.video-item figure {
  position: relative;
  width: 100%;
  font-size: 0;
}
.video-item figure img {
  width: 100%;
}
.video-item figure a:before {
  content: '';
  position: absolute;
  bottom: 10px;
  right: 15px;
  width: 60px;
  height: 60px;
  margin-top: -32.5px;
  margin-left: -32.5px;
  border-radius: 50%;
  background-color: #f5a425;
  z-index: 10;
}
.video-item figure a:after {
  content: '';
  position: absolute;
  bottom: 27.5px;
  right: 20px;
  margin-top: -12.5px;
  margin-left: -7px;
  border: solid 13px transparent;
  border-left: solid 20px;
  border-left-color: #fff;
  z-index: 10;
}
.video-item figure a:hover:before {
  background-color: #f5a425;
}

.video-item .video-caption {
    position: absolute;
    z-index: 10;
    background-color: rgba(250,250,250,0.75);
    height: 80px;
    width: 100%;
    padding: 27px 30px;
    bottom: 0;
}

.video-item .video-caption h4 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
